<form action="/create-project" method="post" class="form" id="project">
    <i class="fa-solid fa-xmark fa-lg" style="color: #000000;"></i>
    <label class="form_label">Project Title <span class="form_required">*</span></label>
    <input type="text" name="title" class="form_input" placeholder="Project Title" required>
    <label class="form_label">Project Description <span class="form_required">*</span></label>
    <textarea name="description" class="form_input" cols="60" rows="10" placeholder=" Project Description" style="  resize: none;height: 8rem;
    " required></textarea>
    <button class="form_btn" type="submit">Add Project</button>
</form>