<div class="form_session">
    <div class="form_main">
        <div class="form_title">Sign In</div>
        <link rel="stylesheet" href="/css/form.css">
        <form action="/create-session" class="form" method="post">
            <label class="form_label">E-Mail <span class="form_required">*</span></label>
            <input class="form_input" type="email" name="email" placeholder="E-mail" required>
            <label class="form_label">Password <span class="form_required">*</span></label>
            <input class="form_input" type="password" name="password" placeholder="Password" required>
            <button class="form_btn" type="submit">Sign In</button>
        </form>
    </div>
</div>